.meetUsBox {
    margin-top: 10px;
    background-color: #EDEDED;
    padding: 20px;
    padding-bottom: 10px;
}

.missionBox {
    background-color: #EDEDED;
    padding: 10px;
    padding-bottom: 10px;
}

.missionCol {
    margin-top: 10px;
    margin-left: 35px;
}